* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro ', sans-serif;
  background: #fff;
}
a, a:hover {
text-decoration: none;
}
ol, ul {
  list-style: none;
}

/*SECTION 1*/
#header {
  position: absolute;
  top:22px;
  width: 100%;
  z-index: 2;
}
.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
 
  /*border: solid blue 2px;*/
}
.logo {
  margin-right: 15px;
  float: left;
}
.name {
 font-size: 24px;
  font-weight: 900;
float: left;
line-height: 68px;
}
.nav {
  float: right;
  font-size: 16px;
  padding-top: 18px;
}
.nav li {
  float: left;
  margin-left: 50px;
  line-height: 40px;
}
.name a, .nav li a {
  color: white;
}
.nav li a:hover {
  color: #fc635e;
  border-bottom: solid 4px #fc635e;
  padding-bottom: 7px;
}
#home {
  position: relative;
  height: 765px;
  background: url("images/home-bg.jpg") no-repeat center;

  text-align: center;
  color: white;
  overflow: hidden;
}
#home .container {
  padding-top: 282px;
}
#home h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 12px;
}
#home h3 {
font-size: 24px;
font-weight: 300;
margin-bottom: 45px;
}

#home span {
  color: #fc635e;
}
.btn {
  display: inline-block;
  line-height: 55px;
  font-size: 24px;
   background: transparent;
color: #fc635e;
 width: 204px;
 height: 55px;
 border: 2px solid #fc635e;
 border-radius: 7px;
   
}
.btn:hover {
color: white;
border: 2px solid white;
}

#mouse {
  display: inline-block;

  position: relative;

}
#mouse img {
  position: absolute;
  left: 110px;
  top: -60px;
}

.slider {
   position: absolute;
   bottom: 26px;
    width: 100%;
}

/*SECTION 2*/
#section2 {
  position: relative;
  /*border: solid blue 2px;*/
min-height: 570px;
text-align: center;
}

#section2 .container {
  max-width: 1000px;
}


#section2 h2 {
  display: inline-block;
  max-width: 500px;
  margin-top: 62px;
  font-size: 28px;
  color: #fc635e;
  /*border: solid blue 2px;*/
  border-bottom: solid 1px #adadad;
  padding-bottom: 7px;
}
#section2 h2 span {
  color: #868686;
}
#section2 h4 {
  margin-top: 16px;
  margin-bottom: 70px;
  display: inline-block;
max-width: 550px;
font-size: 20px;
font-weight: 300;
color: #c5c5c5;
}
.services {
  margin-top: 10px;
  display: inline-block;
  height: 240px;
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
}

.services hr {
  width: 58px;
}

.breakLine {
  display: inline-block;
  width: 58px;
  border-bottom: solid 1px #adadad;

}
.services h3 {
  font-size: 20px;
  color: #868686;
  margin-top: 16px;
  margin-bottom: -8px;;
}
.services p {
  margin-top: 14px;
  font-size: 15px;
  font-weight: 300;
color: #adadad;
}
.slider2 {
  margin-top: 40px;
}
/*SECTION 3*/
#section3 {
  position: relative;
  border-top: solid rgba(255,255,255,0.0) 1px;
height: 576px;
text-align: center;
background: url("images/section3-bg.jpg") no-repeat center;
}
#section3 h1 {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 50px;
}
#section3 span {
color: #fc635e;
}

/*SECTION 4*/
#section4 {
  position: relative;
min-height: 840px;
text-align: center;
}

#section4 h2 {
  display: inline-block;
  margin-top: 47px;
  font-size: 28px;
  color: #fc635e;
  border-bottom: solid 1px #adadad;
  padding-bottom: 7px;
}
#section4 h2 span {
  color: #868686;
}
#section4 h4 {
  margin-top: 16px;
  margin-bottom: 55px;
  display: inline-block;
max-width: 550px;
font-size: 20px;
font-weight: 300;
color: #c5c5c5;
}
#section4 .slider2 {
  margin-top: 30px;
}
/*SECTION 5*/
#section5 {
  position: relative;
text-align: center;
border: solid blue 2px;

}
#section5 .container {
  background: #f2f2f2;
  max-width: 1260px;
  min-height: 575px;
}

.sectionTitle {
  display: inline-block;
  margin-top: 47px;
  font-size: 28px;
  color: #fc635e;
  border-bottom: solid 1px #adadad;
  padding-bottom: 7px;
  margin-bottom: 60px;
}
.sectionTitle span {
  color: #868686;
}

.beforeSlider {
  height: 50px;
}
.slider3{
  bottom: 10px;
  position: absolute;
  border: solid blue 2px;
  width: 100%;
}

.articleContainer {
  display: inline-block;
  border: solid red 2px;
  width:506px;
}
.imageContainer {
  border: solid red 2px;
  vertical-align: top;
  display: inline-block;
}

.btn2 {
  margin-left: 45px;
  line-height: 55px;
  font-size: 24px;
   background: #fc635e;
color: white;
 width: 204px;
 height: 55px;
 border: 2px solid #fc635e;
 border-radius: 7px;
   
}
.btn2:hover {
color: #fc635e;
border: 2px solid #fc635e;
background: transparent;
}

.article {
  margin-top: 50px;
  max-width: 390px;
  display: inline-block;
  margin-bottom: 30px;
  border: solid blue 2px;
}

.brick {
  margin-left: 45px;
  height: 39px;
  width: 10px;
  background-color: #fc635e;
  text-align: left;
  float: left;
}
.articleTitle {
  font-size: 28px;
  color: #868686;
text-align: left;
line-height: 40px;
 
}
.article p {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #b7b3b3;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}


/*SECTION 6*/
#section6 {
  position: relative;
min-height: 570px;
text-align: center;

}
#section6 .slider2 {
  margin-top: 30px;
}

/*SECTION 7*/
#section7 {
  position: relative;
min-height: 570px;
text-align: center;

}
#section7 .container {
  background: #f2f2f2;
  max-width: 1260px;
}
#section7 .slider2 {
  margin-top: 30px;
}



